body {
  margin: 49px;
  background-color: grey;
  background-image: url("wp7105576.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-right: 262px;
    margin-left: 1166px;
    position: absolute;
    transform-style: preserve-3d;
    perspective: 200px;
    
        
    
}

  
.gallery-item{
  position: relative;
  width: 3039px;
    height: 1630px;
}

  img {
    margin: 57px;
    margin: inherit;
    width: auto;
    flex: 0 0 25%;
    padding: -31px;
    padding: 128px;
    padding-left: 63px;
  }

  .gallery-item img {
    width: 73%;
    height: 100%;
    height: 1293px;
    display: block;
    margin-block-start: 48px;
    margin-left: 185px;
    position: absolute;
    backface-visibility: inherit;
    transition: 1s;
    transform: rotateY(180deg);
    border-bottom-left-radius: 17%;
    border-bottom-right-radius: 19%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-right-style: solid;
    border-left: solid;
}
  
 
  .gallery-item img:hover  {

transform: rotateY(-180deg);
transition: 1s;
}
  

  .gallery-item p {
    margin-top: 200px;
    margin-inline-start: 1033px;
    width: 1357px;
    margin-inline-end: 84px;
    font-size: 10em;
    margin-block-start: 0em;
    margin-block-end: 0em; 
    font-family: "Montserrat", sans-serif;

  }
  #fiv1 {
    width: 100px
  }
 /* for mobile phones screen */
  @media (max-width: 600px) {
    body {
      margin: 0;
      background-color: grey;
      background-image: url("wp7105576.jpg");
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px; /* Added padding for spacing */
    }
    
    .gallery-item {
        position: relative;
        width: 100%;
        max-width: 300px;
        margin: 10px; /* Adjusted margin for spacing */
    }
    
    img {
        width: 100%;
        display: block;
    }
    
    .gallery-item img {
        border-radius: 20px;
        transition: transform 1s;
    }
    
    .gallery-item img:hover {
        transform: rotateY(-180deg);
    }
    
    .gallery-item p {
        text-align: center;
        font-size: 1.5em; /* Adjusted font size for mobile */
        margin: 10px 0;
        font-family: "Montserrat", sans-serif;
    }
    
  }